@font-face {
  font-family: "open sans";
  src: url("../fonts/open-sans/OpenSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "open sans";
  src: url("../fonts/open-sans/OpenSans-Semibold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "open sans";
  src: url("../fonts/open-sans/OpenSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "open sans";
  src: url("../fonts/open-sans/OpenSans-ExtraBold.ttf");
  font-weight: 900;
}

@font-face {
	font-family: "open sans";
	src: url("../fonts/open-sans/OpenSans-Italic.ttf");
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: "open sans";
	src: url("../fonts/open-sans/OpenSans-SemiboldItalic.ttf");
	font-style: italic;
	font-weight: 600;
}

@font-face {
	font-family: "open sans";
	src: url("../fonts/open-sans/OpenSans-BoldItalic.ttf");
	font-style: italic;
	font-weight: 700;
}

@font-face {
	font-family: "open sans";
	src: url("../fonts/open-sans/OpenSans-ExtraBoldItalic.ttf");
	font-style: italic;
	font-weight: 900;
}

@font-face {
  font-family: "Vollkorn";
  src: url("../fonts/vollkorn/PS-OTF/Vollkorn-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Vollkorn";
  src: url("../fonts/vollkorn/PS-OTF/Vollkorn-Semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Vollkorn";
  src: url("../fonts/vollkorn/PS-OTF/Vollkorn-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Vollkorn";
  src: url("../fonts/vollkorn/PS-OTF/Vollkorn-ExtraBold.otf");
  font-weight: 900;
}

@font-face {
	font-family: "Vollkorn";
	src: url("../fonts/vollkorn/PS-OTF/Vollkorn-Italic.otf");
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: "Vollkorn";
	src: url("../fonts/vollkorn/PS-OTF/Vollkorn-SemiboldItalic.otf");
	font-style: italic;
	font-weight: 600;
}

@font-face {
	font-family: "Vollkorn";
	src: url("../fonts/vollkorn/PS-OTF/Vollkorn-BoldItalic.otf");
	font-style: italic;
	font-weight: 700;
}

@font-face {
	font-family: "Vollkorn";
	src: url("../fonts/vollkorn/PS-OTF/Vollkorn-ExtraBoldItalic.otf");
	font-style: italic;
	font-weight: 900;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.otf");
}