/* --- TABLE --- */

$table-font-size: 1rem;
$table-color: $text-color;
$table-hover-bg: rgba(0, 0, 0, 0.05);
$table-bd-color: rgba(36, 36, 36, 0.15);
$table-bd: 1px solid $table-bd-color;
$thf-bg: rgba(200, 203, 206, 0.05);
$thf-bd-color: #000;
$cell-padding: 0.6em 0.8em;
$thf-padding: 0.75em 0.8em;
$cell-compact: 0.5em;
$thf-compact: 0.6em $cell-compact;
$cell-loose: 1em;
$thf-loose: 1.1em $cell-compact;
$table-stripe-color: rgba(0, 0, 0, 0.03);
$table-inverted-color: rgba(255,255,255,.9);
$table-inverted-bg: #333;
$table-inverted-hover-bg: rgba(255,255,255,0.07);
$table-inverted-bd-color: rgba(255,255,255,0.15);
$thf-inverted-bg: rgba(0,0,0,0.1);
$thf-inverted-bd-color: #fff;
$table-positive: #34733a;
$table-positive-bg: #ebffdb;
$table-positive-hover-bg: #d8ffb7;
$table-caution: #7b5420;
$table-caution-bg: #fff8c4;
$table-caution-hover-bg: #fdfaab;
$table-negative: #be1e32;
$table-negative-bg: #faf2f2;
$table-negative-hover-bg: #ffdddd;
$table-active: rgba(0, 0, 0, 0.87);
$table-active-bg: #f0f0f0;
$table-active-hover-bg: #e4e4e4;
$table-definition-bg: rgba(0, 0, 0, 0.03);

table.table {
	font-family: $root-font;
	font-size: $table-font-size;
	line-height: 1.35;
	width: 100%;
	display: table;
	background: #fff;
	border: $table-bd;
	color: $table-color;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 1rem 0;

	& thead,
	& tfoot,
	& tbody {
		box-shadow: none;
	}

	& th,
	& td {
		text-align: inherit;
		color: inherit;
		text-transform: none;
		border: $table-bd;
	}

	& th,
	& thead td,
	& tfoot td { 
		background: $thf-bg;
		padding: $thf-padding;
		font-weight: bold;
	}

	& td {
		padding: $cell-padding;
	}

	thead tr:last-child th,
	thead tr:last-child td,
	tfoot ~ tbody tr:last-child td {
		border-bottom-color: $thf-bd-color;
	}

	tfoot tr:first-child th,
	tfoot tr:first-child td {
		border-top-color: $thf-bd-color;
	}

	&.rounded {
		border-radius: $round-radius;
		border-collapse: separate;

		& th,
		& td {
			border: $table-bd;
			border-left: none;
			border-radius: 0em;
		}

		& tr th:last-child,
		& tr td:last-child {
			border-right: none;
		}

		& thead tr th,
		& thead tr td,
		& tbody tr th,
		& tbody tr td,
		& tfoot tr:not(:first-child) th,
		& tfoot tr:not(:first-child) td,
		& > tr th,
		& > tr td {
			border-top: none;
		}

		& tbody tr:last-child th,
		& tbody tr:last-child td,
		& tfoot tr:last-child th,
		& tfoot tr:last-child td,
		& > tr:last-child th,
		& > tr:last-child td {
			border-bottom: none;
		}

		// Table Headers

		& thead:first-child,
		& thead tr:first-child,
		& thead tr:first-child > th:first-child,
		& thead tr:first-child > td:first-child {
			border-top-left-radius: inherit;
		}

		& thead:first-child,
		& thead tr:first-child,
		& thead tr:first-child > th:last-child,
		& thead tr:first-child > td:last-child {
			border-top-right-radius: inherit;
		}

		// Table Footer

		& tfoot:last-child,
		& tfoot tr:last-child,
		& tfoot tr:last-child > th:first-child
		& tfoot tr:last-child > td:first-child {
			border-bottom-left-radius: inherit;
		}

		& tfoot:last-child,
		& tfoot tr:last-child,
		& tfoot tr:last-child > th:last-child,
		& tfoot tr:last-child > td:last-child {
			border-bottom-right-radius: inherit;
		}

		// Table body + fix for improper table

		& tbody:first-child,
		& tbody tr:first-child,
		& tbody tr:first-child td:first-child,
		& > tr:first-child,
		& > tr:first-child td:first-child,
		& > tr:first-child th:first-child {
			border-top-left-radius: inherit;
		}

		& tbody:first-child,
		& tbody tr:first-child,
		& tbody tr:first-child td:last-child,
		& > tr:first-child,
		& > tr:first-child td:last-child,
		& > tr:first-child th:last-child {
			border-top-right-radius: inherit;
		}

		& thead + tbody tr:first-child td {
			border-radius: 0em !important;
		}

		& tbody:last-child,
		& tbody tr:last-child,
		& tbody tr:last-child td:first-child,
		& > tr:last-child,
		& > tr:last-child td:first-child,
		& > tr:last-child th:first-child {
			border-bottom-left-radius: inherit;
		}

		& tbody:last-child,
		& tbody tr:last-child,
		& tbody tr:last-child td:last-child,
		& > tr:last-child,
		& > tr:last-child td:last-child,
		& > tr:last-child th:last-child {
			border-bottom-right-radius: inherit;
		}
	}

	// table helper and fix

	// compact table

	&.compact {
		& th,
		& thead td,
		& tfoot td {
			padding: $thf-compact;
		}

		& td {
			padding: $cell-compact;
		}
	}

	// loose table

	&.loose {
		& th,
		& thead td,
		& tfoot td {
			padding: $thf-loose;
		}

		& td {
			padding: $cell-loose;
		}
	}

	// Make a table cell a link.

	& th.link,
	& td.link { 
		padding: 0 !important;

		& > a {
			display: block;
			color: inherit;
		}
	}

	& td.link > a {
		padding: $cell-padding;
	}
	&.compact td.link > a { padding: $cell-compact; }
	&.loose td.link > a { padding: $cell-loose; }
	
	& th.link > a {
		padding: $thf-padding;
	}
	&.compact th.link > a { padding: $thf-compact; }
	&.loose th.link > a { padding: $thf-loose; }


	// Table Cell width fixer
	/* the w-fix will fix table cells so that their width can be increased.
	If the table has a width of 100%, the table will determine the maximum
	width a cell can have. Otherwise if the table width is auto, you will be
	able fully determine the width a cell. Note that width of each you give a width = given width + cell padding-left + cell padding-right. */ 

	&.w-fix {
		width: auto;
		min-width: auto;
		
		& th:before,
		& td:before {
			content: "";
			display: block;
			visibility: hidden;
			height: 0px;
			width: inherit;
		}
	}

	// Table cell sizes

	&.mini-cells th,
	&.mini-cells td {
		width: 100px;
	}

	&.small-cells th,
	&.small-cells td {
		width: 200px;
	}

	&.medium-cells th,
	&.medium-cells td {
		width: 350px;
	}
	
	&.big-cells th,
	&.big-cells td {
		width: 500px;
	}

	&.huge-cells th,
	&.huge-cells td {
		width: 600px;
	}

	// make a table fixed letting all cell have the same size irrespective of there content

	&.fixed-layout {
		table-layout: fixed;
	}

	// Striped table

	&.striped > tbody > tr:nth-child(even) {
		background-color: $table-stripe-color;
	}

	// Basic table

	&.basic {
		border-style: none;

		& th:first-child,
		& td:first-child {
			border-left-style: none;
		}

		& th:last-child,
		& td:last-child {
			border-right-style: none;
		}

		& tr:first-child th,
		& tr:first-child td {
			border-top-style: none;
		}

		& tr:last-child th,
		& tr:last-child td {
			border-bottom-style: none;
		}

		& thead tr:last-child th,
		& thead tr:last-child td {
			border-bottom-style: solid;
		}

		& tfoot tr:first-child th,
		& tfoot tr:first-child td {
			border-top-style: solid;
		}
	}


	// Simple table

	&.simple {
		& th,
		& td {
			border-left-style: none;
			border-right-style: none;
		}
	}

	// clear table

	&.clear {
		border-style: none;

		& th,
		& td {
			border-left-style: none;
			border-right-style: none;
		}

		& thead tr:first-child th,
		& thead tr:first-child td,
		& > tr:first-child th {
			border-top-style: none;
		}

		
		& tfoot tr:last-child th,
		& tfoot tr:last-child td,
		& > tr:last-child th {
			border-bottom-style: none;
		}
	}

	// list table

	&.list {
		border-style: none;

		& th,
		& td {
			border-style: none;
		}

		& thead tr:last-child th,
		& thead tr:last-child td,
		& > tr:first-child th {
			border-bottom-width: 2px;
			border-bottom-style: solid;
		}

		& tfoot tr:first-child th,
		& tfoot tr:first-child td,
		& > tr:last-child th {
			border-top-width: 2px;
			border-top-style: solid;
		}
	}

	// table definition

	&.definition {
		&:not(.rounded) {
			border-style: none;
		}

		&.simple:not(.rounded) th:first-child,
		&.simple:not(.rounded) td:first-child {
			border-left-style: solid;
			border-right-style: solid;
		}

		&.simple:not(.rounded) th:last-child,
		&.simple:not(.rounded) td:last-child {
			border-right-style: solid;
		}

		& thead:not(.full-width) th:first-child,
		& thead:not(.full-width) td:first-child,
		& > tr:not(.full-width):first-child th:first-child {
			pointer-events: none;
			background: 0 0 !important;
			font-weight: $normal-weight !important;
			color: rgba(0,0,0,.4) !important;
			border-top: 0px none;
			border-left: 0px none;
		}

		& thead tr:not(:last-child):not(:only-child) th:first-child,
		& thead tr:not(:last-child):not(:only-child) td:first-child {
			border-bottom: 0px none;
		}

		& tfoot:not(.full-width) th:first-child,
		& tfoot:not(.full-width) td:first-child,
		& > tr:not(.full-width):last-child th:first-child {
			pointer-events: none;
			background: 0 0 !important;
			font-weight: $normal-weight !important;
			color: rgba(0,0,0,.4) !important;
			border-bottom: 0px none;
			border-left: 0px none;
		}

		& tfoot tr:not(:first-child):not(:only-child) th:first-child,
		& tfoot tr:not(:first-child):not(:only-child) td:first-child {
			border-top: 0px none;
		}

		&.rounded thead:not(.full-width) th:first-child,
		&.rounded thead:not(.full-width) td:first-child,
		&.rounded > tr:not(.full-width):first-child th:first-child {
			box-shadow: -1px -1px 0 1px #fff;
		}

		&.rounded tfoot:not(.full-width) th:first-child,
		&.rounded tfoot:not(.full-width) td:first-child,
		&.rounded > tr:not(.full-width):last-child th:first-child {
			box-shadow: -1px -1px 0 1px #fff;
		}

		& tbody td:first-child,
		& tbody td:first-child:hover,
		& > tr td:first-child,
		& > tr td:first-child:hover {
			background: $table-definition-bg;
			font-weight: bold;
			color: inherit;
		}
	}

	// borderless table

	&.borderless,
	&.borderless thead,
	&.borderless tbody,
	&.borderless tfoot,
	&.borderless tr,
	&.borderless th,
	&.borderless td {
		border: 0px none !important;
	}

	// table states

	&.inverted {
		background: $table-inverted-bg;
		color: $table-inverted-color;

		&,
		& th,
		& td {
			border-color: $table-inverted-bd-color !important;
		}

		& th { background: $thf-inverted-bg !important; }

		thead tr:last-child th,
		thead tr:last-child td,
		& > tr:first-child th {
			border-bottom-color: $thf-inverted-bd-color !important;
		}

		tfoot tr:first-child th,
		tfoot tr:first-child td,
		& > tr:last-child th {
			border-top-color: $thf-inverted-bd-color !important;
		}
	}

	// table positive state

	& td.positive,
	& tr.positive td,
	& tbody.positive td {
		color: $table-positive;
		background-color: $table-positive-bg;
	}

	// table caution state

	& td.caution,
	& tr.caution td,
	& tbody.caution td {
		color: $table-caution;
		background-color: $table-caution-bg;
	}

	// table negative state

	& td.negative,
	& tr.negative td,
	& tbody.negative td {
		color: $table-negative;
		background-color: $table-negative-bg;
	}

	// table active state

	& td.active,
	& tr.active td,
	& tbody.active td {
		color: $table-active;
		background: $table-active-bg;
	}

	& td.disabled,
	& tr.disabled td,
	& tbody.disabled td {
		pointer-events: none !important;
		color: rgba(40,40,40,.3) !important;
		background: #fbfbfb !important;
	}

	// Table hover

	&.selectable tbody tr,
	& tbody.selectable tr,
	& tbody tr.selectable,
	& tbody td.selectable {
		transition: background-color 0.3s ease;
	}

	// default hover

	&.selectable tbody tr:hover td,
	& tbody.selectable tr:hover td,
	& tbody tr.selectable:hover td,
	&.i-selectable tbody td:hover,
	& tbody.i-selectable td:hover,
	& tbody tr.i-selectable td:hover,
	& tbody td.selectable:hover {
		background-color: $table-hover-bg;
	}

	&.inverted.selectable tbody tr:hover td,
	&.inverted tbody.selectable tr:hover td,
	&.inverted tbody tr.selectable:hover td,
	&.inverted.i-selectable tbody td:hover,
	&.inverted tbody.i-selectable td:hover,
	&.inverted tbody tr.i-selectable td:hover,
	&.inverted tbody td.selectable:hover {
		background-color: $table-inverted-hover-bg;
	}

	// positive hover

	&.selectable tbody.positive tr:hover td,
	&.selectable tbody tr.positive:hover td,
	&.selectable tbody tr:hover td.positive,
	&.i-selectable tbody.positive td:hover,
	&.i-selectable tbody tr.positive td:hover,
	&.i-selectable tbody td.positive:hover,
	& tbody.positive.selectable tr:hover td,
	& tbody.selectable tr.positive:hover td,
	& tbody.selectable tr:hover td.positive,
	& tbody.positive.i-selectable tr td:hover,
	& tbody.i-selectable tr.positive td:hover,
	& tbody.i-selectable td.positive:hover,
	& tbody.positive tr.selectable:hover td,
	& tbody tr.selectable.positive:hover td,
	& tbody tr.selectable:hover td.positive,
	& tbody.positive tr.i-selectable td:hover,
	& tbody tr.i-selectable.positive td:hover,
	& tbody tr.i-selectable td.positive:hover,
	& tbody.positive td.selectable:hover,
	& tbody tr.positive td.selectable:hover,
	& tbody td.selectable.positive:hover {
		background-color: $table-positive-hover-bg;
	}

	// caution hover

	&.selectable tbody.caution tr:hover td,
	&.selectable tbody tr.caution:hover td,
	&.selectable tbody tr:hover td.caution,
	&.i-selectable tbody.caution td:hover,
	&.i-selectable tbody tr.caution td:hover,
	&.i-selectable tbody td.caution:hover,
	& tbody.caution.selectable tr:hover td,
	& tbody.selectable tr.caution:hover td,
	& tbody.selectable tr:hover td.caution,
	& tbody.caution.i-selectable tr td:hover,
	& tbody.i-selectable tr.caution td:hover,
	& tbody.i-selectable td.caution:hover,
	& tbody.caution tr.selectable:hover td,
	& tbody tr.selectable.caution:hover td,
	& tbody tr.selectable:hover td.caution,
	& tbody.caution tr.i-selectable td:hover,
	& tbody tr.i-selectable.caution td:hover,
	& tbody tr.i-selectable td.caution:hover,
	& tbody.caution td.selectable:hover,
	& tbody tr.caution td.selectable:hover,
	& tbody td.selectable.caution:hover {
		background-color: $table-caution-hover-bg;
	}

	// negative hover
	&.selectable tbody.negative tr:hover td,
	&.selectable tbody tr.negative:hover td,
	&.selectable tbody tr:hover td.negative,
	&.i-selectable tbody.negative td:hover,
	&.i-selectable tbody tr.negative td:hover,
	&.i-selectable tbody td.negative:hover,
	& tbody.negative.selectable tr:hover td,
	& tbody.selectable tr.negative:hover td,
	& tbody.selectable tr:hover td.negative,
	& tbody.negative.i-selectable tr td:hover,
	& tbody.i-selectable tr.negative td:hover,
	& tbody.i-selectable td.negative:hover,
	& tbody.negative tr.selectable:hover td,
	& tbody tr.selectable.negative:hover td,
	& tbody tr.selectable:hover td.negative,
	& tbody.negative tr.i-selectable td:hover,
	& tbody tr.i-selectable.negative td:hover,
	& tbody tr.i-selectable td.negative:hover,
	& tbody.negative td.selectable:hover,
	& tbody tr.negative td.selectable:hover,
	& tbody td.selectable.negative:hover {
		background-color: $table-negative-hover-bg;
	}

	// active hover
	&.selectable tbody.active tr:hover td,
	&.selectable tbody tr.active:hover td,
	&.selectable tbody tr:hover td.active,
	&.i-selectable tbody.active td:hover,
	&.i-selectable tbody tr.active td:hover,
	&.i-selectable tbody td.active:hover,
	& tbody.active.selectable tr:hover td,
	& tbody.selectable tr.active:hover td,
	& tbody.selectable tr:hover td.active,
	& tbody.active.i-selectable td:hover,
	& tbody.i-selectable tr.active td:hover,
	& tbody.i-selectable td.active:hover,
	& tbody.active tr.selectable:hover td,
	& tbody tr.selectable.active:hover td,
	& tbody tr.selectable:hover td.active,
	& tbody.active tr.i-selectable td:hover,
	& tbody tr.i-selectable.active td:hover,
	& tbody tr.i-selectable td.active:hover,
	& tbody.active td.selectable:hover,
	& tbody tr.active td.selectable:hover,
	& tbody td.selectable.active:hover {
		background-color: $table-active-hover-bg;
	}
}

// Scrollable table

.table-scroll {
	overflow-x: auto;

	& > table { width: auto; }
}

// responsive table

@media #{$medium-and-down} {
	table.responsive {
	  	width: 100%;
		max-width: 100%;
		border: 0px none;
	    border-collapse: collapse;
		white-space: nowrap;
	    border-spacing: 0;
	  	display: block;
	    position: relative;

		& td:empty::before,
		& thead tr th::before { content: '\00a0'; }

		& th,
		& td {
			display: block;
			min-height: 3em;
			margin-top: 0 !important;
			padding: $cell-padding !important;
			border: 0px none !important;
  		}

		& th {
			text-align: right !important;
		}

		& td {
			text-align: left !important;
		}

		& thead,
	 	& tbody {
			display: block;
			position: relative;
			width: auto;
			white-space: nowrap;
			border: 0px none !important;
			border-spacing: 0;
		}

		& thead {
			float: left;
			border-right: 2px solid $table-bd-color !important;
		}

		&.list th,
		&.list tr,
		&.list thead {
			border-bottom: 0px none !important;
		}

		& thead tr {
			display: block;
		}

  		& tbody {
			overflow-x: auto;

  			& tr {
    			display: inline-block;
    			vertical-align: top;
  			}
		}

		& tfoot {
			display: none !important;
		}
	}
}
