/* --- TYPOGRAPHY --- */

html {
  font-family: $root-font;
  font-size: $text-size;
}

body {
  font-family: inherit;
  font-size: 1rem;
  font-weight: $text-weight;
  line-height: $line-height;
  color: #373737;
  background: $page-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:focus {text-decoration: underline;}
  &:focus {outline: 1px dotted #555;}
}

h1, h2, h3, h4, h5, h6,
[data-level] > .heading:not(.sub) {
	font-weight: $bold-weight;
	line-height: 1.1;
  margin: 0.5em 0 0.4em;

  & + * { margin-top: 0 !important; }
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0.5em 0 0.4em;
  line-height: 1.1;
}

h1 { font-size: $h1*1rem; }
.h1, [data-level="1"] > .heading:not(.sub) {font-size: $h1*1em;}

h2 { font-size: $h2*1rem; }
.h2, [data-level="2"] > .heading:not(.sub) {font-size: $h2*1em;}

h3 { font-size: $h3*1rem; }
.h3, [data-level="3"] > .heading:not(.sub) {font-size: $h3*1em;}

h4 { font-size: $h4*1rem; }
.h4, [data-level="4"] > .heading:not(.sub) {font-size: $h4*1em;}

h5 { font-size: $h5*1rem; }
.h5, [data-level="5"] > .heading:not(.sub) {font-size: $h5*1em;}

h6 { font-size: $h6*1rem; }
.h6, [data-level="6"] > .heading:not(.sub) {font-size: $h6*1em;}

p, [data-level] {
  line-height: $line-height;
  margin: 1em 0;

  &:last-child {
    margin-bottom: 0;
  }

}

hr {
  border: 0px none;
  border-top: 1px solid $divider-bd-color;
  margin: 1rem 0;
}

code, kbd {
  font-size: 0.9em;
  padding: 2px 4px;
}

code {
  background-color: rgba(0,0,0,0.06);
}

kbd {
  color: #fff;
  background-color: #111;
}

pre {
  font-size: 1rem;
  line-height: 1.1;
  display: block;
  padding: 1rem;
  margin: 0 0 $margin-default;
  color: #777;
  background-color: #f9f9f9;
  border: 1px solid #eee;
}

fieldset {
  border: 1px dotted lighten($divider-bd-color, 45%);
  border-top: 1px solid $divider-bd-color;
  border-bottom: 1px solid lighten($divider-bd-color, 50%);
  margin: $margin-default 0;
  padding: 1rem;
}

fieldset > legend:first-child {
  padding: 0 0.5rem;
  font-size: 1.1em;
  line-height: 1.5;
}

blockquote {
  font-size: 1rem;
	display: block;
	padding: 0.5em;
	padding-left: 1em;
	border-left: 5px solid rgb(200, 200, 200);
	margin: $margin-default 2em;

  & *:first-child {margin-top: 0;}
  & *:last-child {margin-bottom: 0;}
}
